<?xml version="1.0"?>
<launch>
    <machine name="poop" address="poop" user="frederico" password="aq1sw2de3" env-loader="/home/frederico/temp3/devel/env.sh"/>
  <node name="loopback_image_publisher" machine="poop" pkg="caffe_tsn_ros" type="example.py" respawn="false" output="screen"/>
  <node name="loopback_image_view" pkg="image_view" type="image_view">
    <remap from="image" to="image_raw" />
  </node>
</launch>
