<launch>
  <arg name="datasetname" default="hmdb51"/>

  <!-- COMMON  -->

  <!-- training = 1, testing = 2  -->
  <arg name="training_or_testing" default="1"/>
  <!-- Set test to "true" to get only the first <test_numvids> videos and check stuff... -->
  <arg name="test" default="false"/>
  <!-- number of videos that will be played if testing flag is on -->
  <arg name="test_numvids" default="3" />
  <!--if true will ignore choose_list  -->
  <arg name="play_without_restricting_from_list" default="true"/>

<!-- loads the parameters for the would be node readpathnode -->

  <!-- important: if node name changes, the ns here needs to change as well! -->
  <group ns="readpathnode">
    <rosparam subst_value="true" param="training_or_testing">$(arg training_or_testing)</rosparam>
    <rosparam subst_value="true" param="test">$(arg test)</rosparam>
    <group if="$(arg test)">
      <rosparam subst_value="true" param="test_numvids">$(arg test_numvids)</rosparam>
    </group>
    <rosparam subst_value="true" param="play_without_restricting_from_list">$(arg play_without_restricting_from_list)</rosparam>
    <!-- this is kind of hacky, so to change the choose list you either need to load it from a yaml file in the right context and then comment this out, or change it here -->
    <group unless="$(arg play_without_restricting_from_list)">
      <rosparam param="choose_list">['brush_hair','chew','clap','drink','eat','jump','pick','pour','sit','smile','stand','talk','walk','wave']</rosparam>
    </group>
  </group>

  <!-- SPECIFIC -->
  <!-- HMDB51 -->
  <node pkg="datasetloader_ros" type="readpathsrv" name="readpathnode" output="screen" if="$(eval datasetname=='hmdb51')">
    <param name="basepath" value="/mnt/externaldrive/var/datasets/videos/" />
    <param name="splitdir" value="$(find datasetloader_ros)/data/hmdb51_7030splits"/>
  </node>

  <!-- MYSET -->
  <node pkg="datasetloader_ros" type="readpathsrv" name="readpathnode" output="screen" if="$(eval datasetname=='myset')">
    <param name="basepath" value="/mnt/externaldrive/var/datasets/myset/" />
    <param name="splitdir" value="$(find datasetloader_ros)/data/myset_7030splits"/>
  </node>

  <!-- FC101 -->
  <node pkg="datasetloader_ros" type="readpathsrv" name="readpathnode" output="screen" if="$(eval datasetname=='fc101')">
    <!-- not working!! -->
    <param name="basepath" value="/mnt/externaldrive/var/datasets/fc101/videos/" />
    <param name="splitdir" value="$(find datasetloader_ros)/data/fc101_7030splits"/>
  </node>

</launch>
