<?xml version="1.0"?>
 <launch>
   <arg name="namespace" default="" />
   <node name="tester" pkg="datasetloader_ros" type="tester.py" respawn="false" output="screen" ns="$(arg namespace)">
     <param name="glistfile" value="/mnt/externaldrive/var/datasets/hmdb51/global_pool__split_test_$(arg namespace)"/>
     <param name="tot" value="test"/>
     <remap from="y_hat_topic" to="/scores"/>
     <remap from="y_topic" to="/readpathnode/y"/>
     <remap from="done_topic" to="/readpathnode/done"/>
     <param name="synch_appending" type="bool" value="True"/>
     <param name="classes" value="['dive','hug','jump']"/>
     <!-- <param name="classes" value="['brush_hair', 'cartwheel', 'catch', 'chew', 'clap', 'climb', 'climb_stairs', 'dive', 'draw_sword', 'dribble', 'drink', 'eat', 'fall_floor', 'fencing', 'flic_flac', 'golf', 'handstand', 'hit', 'hug', 'jump', 'kick','kick_ball', 'kiss', 'laugh', 'pick', 'pour', 'pullup', 'punch', 'push', 'pushup', 'ride_bike', 'ride_horse', 'run', 'shake_hands', 'shoot_ball', 'shoot_bow', 'shoot_gun', 'sit', 'situp', 'smile', 'smoke', 'somesault', 'stand', 'swing_baseball', 'sword', 'sword_exercise', 'talk', 'throw', 'turn', 'walk', 'wave', 'unknown']"/> -->
     <param name="rate" value="1"/>
   </node>
 </launch>
